[submodule "0.45"]
	path = pogo_async/lib_0_45
	url = https://github.com/pokelibs/pgoapi-libs
[submodule "0.51"]
	path = pogo_async/lib_0_51
	url = https://github.com/pokelibs/pgoapi-libs
	branch = 51updates
